{{template "baselogin" .}}

{{define "title"}}Login{{end}}

{{define "content"}}
                                    {{if .Error}}
                                    <div class="card mb-4 border-left-warning">
                                        <div class="card-body text-form-error">{{.Error}}</div>
                                    </div>
                                    {{end}}
                                    <form id="login_form" action="{{.CurrentURL}}" method="POST" autocomplete="off"
                                        class="user-custom">
                                        <input type="hidden" name="_form_token" value="{{.CSRFToken}}">
                                        <button type="submit" class="btn btn-primary btn-user-custom btn-block">
                                            Login
                                        </button>
                                        {{if .OpenIDLoginURL}}
                                        <hr>
                                        <a href="{{.OpenIDLoginURL}}" class="btn btn-secondary btn-user-custom btn-block">
                                            Login with OpenID
                                        </a>
                                        {{end}}
                                    </form>
                                    {{if .AltLoginURL}}
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{{.AltLoginURL}}">{{.AltLoginName}}</a>
                                    </div>
                                    {{end}}
                                    {{if and .Branding.DisclaimerName .Branding.DisclaimerPath}}
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{{.Branding.DisclaimerPath}}" target="_blank">{{.Branding.DisclaimerName}}</a>
                                    </div>
                                    {{end}}
{{end}}
